  -----
Anwendungsbeispiele
  -----
Christian Schulte
  -----
October 2012
  -----

Anwendungsbeispiele

* Erstellung von <<<ResourceBundle>>>s

  Das <<<jdtaus-resource-mojo:java-resources>>> Kommando des Resource Plugins
  ist an die <<<process-resources>>> Phase gebunden. Es wird zur Erstellung von
  <<<ResourceBundle>>>-Zugriffsklassen mit zugehörigen <<<Properties>>>-Dateien
  verwendet. Konfigurieren Sie das Plugin hierzu wie folgt.

+---
...
<build>
  <plugins>
    ...
    <plugin>
      <groupId>org.jdtaus.mojo</groupId>
      <artifactId>jdtaus-resource-mojo</artifactId>
      <version>${jdtaus-resource-mojo.artifact.version}</version>
      <executions>
        <execution>
          <id>jdtaus-generate</id>
          <goals>
            <goal>java-resources</goal>
          </goals>
        </execution>
      </executions>
    </plugin>
    ...
  <plugins>
</build>
...
+---

  Fügen Sie zusätzlich ein entsprechendes Container-Modell-Dokument unter
  <<<src/main/resources/META-INF/jdtaus/module.xml>>> zum Projekt hinzu.

+---
<?xml version="1.0" encoding="UTF-8"?>
<container:module xmlns:container="http://jdtaus.org/core/model/container"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://jdtaus.org/core/model/container http://xml.jdtaus.org/1.0.x/jdtaus-core/jdtaus-core-schemas/jdtaus-container-1.1.xsd">

  <container:implementations>
    <container:implementation container:identifier="com.yourcompany.YourClass"
                              container:name="${project.name}"
                              container:vendor="${project.organization.name}"
                              container:version="${project.version}">

      <container:messages>
        <container:reference container:name="yourMessage"/>
      </container:messages>
    </container:implementation>
  </container:implementations>

  <container:messages>
    <container:message container:name="yourMessage">
      <container:template container:defaultLanguage="en">
        <container:text container:language="en"><![CDATA[English message text with {0} argument]]></container:text>
        <container:text container:language="de"><![CDATA[Deutscher Meldungs-Text mit Argument {0}]]></container:text>
      </container:template>
      <container:arguments>
        <container:argument container:index="0" container:name="argumentName" container:type="text"/>
      </container:arguments>
    </container:message>
  </container:messages>

  ...
</container:module>
+---

  XML-Schema: {{{http://xml.jdtaus.org/1.0.x/jdtaus-core/jdtaus-core-schemas/jdtaus-container-1.1.xsd}jdtaus-container-1.1.xsd}}
